.form {
  width: 80vw;
  margin: 0 auto;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 32px;

  .flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .searchField{
        flex: 1 ;
    }
  }
}
